<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ash's Photography Page">
	
	<title>The Wolfen Den Photography </title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="bootstrap-modal-carousel.css" rel="stylesheet" />

	<script src="bootstrap-modal-carousel.js"></script>

</head>

<body >
	
	<nav class="navbar navbar-default navbar-fixed-top ">
		  <div class="container-fluid m1 menu">
				  <div class="navbar-header" id="menu-center">
					  	<button type="button" class="navbar-toggle collapsed page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
				        </button>
				      
				   		<a class="navbar-brand" href="#"> 
					    	  	<span class="orange">The Wolfen Den</span>
					        	Photography
				    	</a>
				    
				  </div><!--nav header-->
				    
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#Urban">Urban</a></li>
				        <li><a href="#Nature">Nature</a></li>
				        <li><a href="#Portrait">Portrait</a></li>
				        <li><a href="#About">About</a></li>
				        <li><a href="#Contact">Contact</a></li> 
				      </ul>
				  </div> <!--collapse-->
				     
				      
		  </div><!-- /.container-fluid -->
	</nav>
  
     
<a name="Home"></a>

<div class="container-fluid">	
			<a name="Urban"><div class="parallax_section parallax_image_first row parallax_image_first_mobile" id="Urban"></a>
					<div class="col-lg-12 paddingTop"><!--div Y-->
						
						<button type="button" class="btn btn-primary center-block btnBorder" data-toggle="modal" data-target=".modalUrban"> 
							 Urban Photography
						</button>
						
							<div class="modal fade modalUrban" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
							  		<div class="modal-content">
							    		<div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="orange">&times;</span></button>
									        <h4 class="modal-title orange">Urban Photography</h4>
      									</div>
							      		
							      		<div id="carouselUrban" class="carousel slide" data-ride="carousel">
												  <!-- Wrapper for slides -->
												  <div class="carousel-inner">
												    <div class="item active">
												     <img class="img-responsive" src="img/building1.JPG" alt="..." >
												      <div class="carousel-caption">   
												      </div>
							    					</div>
							    					
												    <div class="item">
												      <img class="img-responsive" src="img/building2.JPG" alt="..." >
												      <div class="carousel-caption">
												      </div>
												    </div>
												    
												     <div class="item">
												      <img class="img-responsive " src="img/building3.JPG" alt="..." >
												      <div class="carousel-caption">												        
												      </div>
												    </div>
												    
												     <div class="item">
												      <img class="img-responsive" src="img/building4.JPG" alt="Building Image" >
												      <div class="carousel-caption">												     
												       </div>
												    </div>
												    
												    <div class="item">
												      <img class="img-responsive" src="img/building5.JPG" alt="Building Image" >
												      <div class="carousel-caption">												       
												      </div>
												    </div>
												    
												    <div class="item">
												      <img class="img-responsive" src="img/building6.JPG" alt="Building Image" >
												      <div class="carousel-caption">												       
												      </div>
												    </div>
												    
												    <div class="item">
												      <img class="img-responsive" src="img/building7.JPG" alt="Building Image" >
												      <div class="carousel-caption">
												      </div>
												    </div>
												    
												    <div class="item">
												      <img class="img-responsive" src="img/building8.png" alt="Building Image" >
												      <div class="carousel-caption">											        
												      </div>
												    </div>
							  					</div>
							
									  <!-- Controls -->
									  <a class="left carousel-control" href="#carouselUrban" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left"></span>
									  </a>
									  <a class="right carousel-control" href="#carouselUrban" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right"></span>
									  </a>
									</div>									
									    </div>									   
									  </div>									
									</div>
		
					</div>	 <!--div Y--> 
						</div><!--parallax first-->
						
					<!--Text Block--> 
					<div class="content_block row">
						<div class="col-md-6 col-lg-6 col-sm-12 paddingContentBlock">	
								<p>Old buildings, signs, and graffiti. I have a passion for urban photography and am fortunate to live in a place with a 
									few old buildings left. I like the history of old buildings and how long they’ve stood there. I also think the angles of the buildings
									 can make very interesting pictures. 
									</p>
						</div><!--col-->

						<div class="col-md-6 col-lg-6 col-sm-12 paddingContentBlock">
							<h5>"Graffiti is a kind of art." </h5>
							<p>									I find the graffiti interesting because it’s different from other forms of art and, 
								in a way, it is similar to the worn off signs of the old businesses. 
							</p>					  
						</div><!--col-->
					</div><!--content block row-->										
			
		<!--Nature Section-->
			<a name="Nature"><div class="parallax_section parallax_image_second row" id="Nature"></a>
					<div class="col-lg-12 paddingTop"><!--div Y-->
						
						<button type="button" class="btn btn-primary center-block btnBorder" data-toggle="modal" data-target=".modalNature"> 
							Nature Photography
						</button>
								<div class="modal fade modalNature" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							  		<div class="modal-dialog modal-lg">							  	
							   			<div class="modal-content">
							    	 		<div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="orange">&times;</span></button>
										        <h4 class="modal-title orange">Nature Photography</h4>
     										</div>
						<div id="carouselNature" class="carousel slide" data-ride="carousel">
															  							
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
						
								    <div class="item active">
								     <img class="img-responsive" src="img/nature1.jpg" alt="nature image" >
								      <div class="carousel-caption">							        
								      </div>
								    </div>
								    
								    <div class="item">
								      <img class="img-responsive" src="img/nature2.png" alt="nature image" >
								      <div class="carousel-caption">							        
								      </div>
								    </div>
								    
								    <div class="item">
								      <img class="img-responsive " src="img/nature3.jpg" alt="nature image" >
								      <div class="carousel-caption">							        
								      </div>
								    </div>							     
							  </div>
							
							  <!-- Controls -->
							  <a class="left carousel-control" href="#carouselNature" role="button" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							  </a>
							  <a class="right carousel-control" href="#carouselNature" role="button" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							  </a>
						</div>
							
							    		</div><!--end modal content-->							   
							  		</div><!--end modal dialog-->							
								</div>
					</div>	 <!--div Y--> 
				</div><!--parallax second-->
				
					<!--content block--> 
				<div class="content_block row">
						<div class="col-md-6 col-lg-6 col-sm-12">	
							<h5>"I enjoy hiking"</h5>
						</div><!--col-->

						<div class="col-md-6 col-lg-6 col-sm-12">
								<p> and being able to show others the amazing things that I see. Waterfalls, trees, and lakes are my favorite nature things to shoot. 
									Living in the Pacific Northwest, we have some of the most beautiful landscape within a day’s drive. </p>
					  
						</div><!--col-->
				</div><!--content block row-->
					
			
				  
		<!--Portrait-->
				<a name="Portrait"><div class="parallax_section parallax_image_third row parallax_image_third_mobile" id="Portrait"></a>
					<div class="col-lg-12 paddingTop"><!--div Y-->
						
						<button type="button" class="btn btn-primary center-block btnBorder" data-toggle="modal" data-target=".modalPortrait"> 
							Portrait Photography
						</button>
								<div class="modal fade modalPortrait" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							  		<div class="modal-dialog modal-lg">							  	
							    		<div class="modal-content">
							    	 		<div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="orange">&times;</span></button>
										        <h4 class="modal-title orange">Portrait Photography</h4>
										    </div>
							      			<div id="carouselPortrait" class="carousel slide" data-ride="carousel">
															  							
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">						
							    <div class="item active">
							     <img class="img-responsive" src="img/portrait2.jpg" alt="portrait image" >
							      <div class="carousel-caption">							       
							      </div>
							    </div>
							    							     							    
							    <div class="item">
							      <img class="img-responsive " src="img/portrait3.jpg" alt="portrait image" >
							      <div class="carousel-caption">							        
							      </div>
							    </div>
							    
							    <div class="item">
							      <img class="img-responsive " src="img/portrait4.JPG" alt="portrait image" >
							      <div class="carousel-caption">							        
							      </div>
							    </div>
							    
							    <div class="item">
							      <img class="img-responsive " src="img/portrait5.JPG" alt="portrait image" >
							      <div class="carousel-caption">							        
							      </div>
							    </div>							     
							  </div><!--end slide wrappers-->
							
							  <!-- Controls -->
							  <a class="left carousel-control" href="#carouselPortrait" role="button" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							  </a>
							  <a class="right carousel-control" href="#carouselPortrait" role="button" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							  </a>
										</div>							
							    	</div>							   
							  </div>							
							</div>
					</div>	 <!--div Y--> 
				</div><!--parallax third-->
				
				<!--content block--> 
				<div class="content_block row">
						<div class="col-md-6 col-lg-6 col-sm-12">	
							<p>I don’t have much experience with portrait photography. When I do take pictures of people, it’s usually because I like incorporating nature with people. My favorite portrait is of my mom. We were hiking and I was taking pictures of a little stream. I pulled the camera up and took a picture of my mom standing there, waiting for me. </p>						
						</div><!--col-->
						
						<div class="col-md-6 col-lg-6 col-sm-12">	
							<h5>"Incorporating nature with people"</h5>		
						</div><!--col-->		  
				</div><!--content block row-->
					
				<!--content block--> 
				 <div class=" aboutMargin" id="About" style="max-width: 90%;">
					<a name="About"></a>	<h2>About</h2>
						<div class="row aboutMargin content_block" >
							<div class="col-md-6 col-lg-6 col-sm-6 paddingTop">	
									<p>Wolfe is a 12 year old living in sunny Portland, Oregon. He’s been a photographer for 6 years. His favorite things to do are read comic books, build Legos, and take pictures. </p>						</div><!--col-->
							<div class="col-md-1-offset col-md-5 col-lg-1-offset col-lg-5 col-sm-offset-1 col-sm-5">	
									<img src="img/ash.JPG" width="300px" style="margin: 0% 25% 0% 25%;">
						</div><!--end column-->
						</div><!--end column-->
				</div><!--end row-->
			<!--content block row-->		
			<div class="container" id="Contact">
				<div class="row">
			      <div class="col-md-6 col-md-offset-3">
			        <div class="well well-sm">
			          <form class="form-horizontal" action="" method="post">
			          <fieldset>
			            <legend class="text-center">Contact Wolfe</legend>
			    
			            <!-- Name input-->
			            <div class="form-group">
			              <label class="col-md-12 control-label" for="name">Name</label>
			              <div class="col-md-12">
			                <input id="name" name="name" type="text" placeholder="Martha Jones" class="form-control">
			              </div>
			            </div>
			    
			            <!-- Email input-->
			            <div class="form-group">
			              <label class="col-md-12 control-label" for="email">Your E-mail</label>
			              <div class="col-md-12">
			                <input id="email" name="email" type="text" placeholder="mjones@yourdomain.com" class="form-control">
			              </div>
			            </div>
			    
			            <!-- Message body -->
			            <div class="form-group" >
			              <label class="col-md-12 control-label" for="message">Your message</label>
			              <div class="col-md-12">
			                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
			              </div>
			            </div>
			    
			            <!-- Form actions -->
			            <div class="form-group">
			              <div class="col-md-12 text-right">
			                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
			              </div>
			            </div>
			          </fieldset>
			          </form>
			        </div>
			      </div>
				</div>
			</div><!--"container-fluid"-->
		</div><!--parallax container fluid-->
		
		<!--footer-->		
		<div class="greyBackground paddingTop paddingRight paddingLeft marginBottom">
		<footer >
			
			<h6 class="paddingBottom" align="center">Copyright 2017. All images owned by The Wolfen Den. Do not use without permission. </h6>
			
		</footer>	
		</div>

<!--scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="jquery.js"></script>
    

</body>
</html>
