


{% extends 'den/base.html' %}

{% block content %}
<!-- First Parallax Section -->
<div class="jumbotron paral paralsec">
<h1 class="display-3">Here is a heading 1</h1>
<p class="lead">Here is a short description 1</p>
<p class="lead">
<a class="btn btn-info btn-lg btn-md" href="{% url 'posts:urban' %}" role="button" onclick="this.blur();">Urban Photography</a>
</p>
</div>

<div class="container">
  <div class="row">
   <div class="col">
     <p>Old buildings, signs, and graffiti. I have a passion for urban photography and am fortunate to live in a place with a few old buildings left. I like the history of old buildings and how long they’ve stood there. I also think the angles of the buildings can make very interesting pictures.</p>
   </div>
   <div class="col">
     <h2>"His Single Line Quote"</h2>
     <p>I find the graffiti interesting because it’s different from other forms of art and, in a way, it is similar to the worn off signs of the old businesses.</p>
   </div>
 </div>
</div>

<!-- Second Parallax Section -->
<div class="jumbotron paral paralsec1">
<h1 class="display-3">Here is a heading 2</h1>
<p class="lead">Here is a short description 2</p>
<p class="lead">
  <a class="btn btn-primary btn-lg btn-md" href="{% url 'posts:nature' %}" role="button" onclick="this.blur();">Nature Photography</a>
</p>
</div>

<div class="container">
  <div class="row">
   <div class="col">
     <p>Old buildings, signs, and graffiti. I have a passion for urban photography and am fortunate to live in a place with a few old buildings left. I like the history of old buildings and how long they’ve stood there. I also think the angles of the buildings can make very interesting pictures.</p>
   </div>
   <div class="col">
     <h2>"His Single Line Quote"</h2>
     <p>I find the graffiti interesting because it’s different from other forms of art and, in a way, it is similar to the worn off signs of the old businesses.</p>
   </div>
 </div>
</div>

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2">
<h1 class="display-3">Here is a heading 3</h1>
<p class="lead">Here is a short description 2</p>
<p class="lead">
<a class="btn btn-primary btn-lg btn-md" href="{% url 'posts:portrait' %}" role="button" onclick="this.blur();">Portrait Photography</a>
</p>
</div>

<div class="container">
  <div class="row">
   <div class="col">
     <p>Old buildings, signs, and graffiti. I have a passion for urban photography and am fortunate to live in a place with a few old buildings left. I like the history of old buildings and how long they’ve stood there. I also think the angles of the buildings can make very interesting pictures.</p>
   </div>
   <div class="col">
     <h2>"His Single Line Quote"</h2>
     <p>I find the graffiti interesting because it’s different from other forms of art and, in a way, it is similar to the worn off signs of the old businesses.</p>
   </div>
 </div>
</div>

<div class="container">
  <h1 class="orange">About</h1>
  <div class="row">
   <div class="col">
     <p>Wolfe is a 14 year old living in sunny Portland, Oregon. He’s been a photographer for 8 years. His favorite things to do are read historical fiction, play videogames, and take pictures.</p>
   </div>
   <div class="col">
     <h2>INSERT IMAGE HERE</h2>
   </div>
 </div>
</div>

{% endblock %}
